/**
 * @Date:   2018-12-20T14:02:40+08:00
 * @Last modified time: 2018-12-22T16:31:34+08:00
 */
/*通用头部导航样式*/
.header .logo {
  position: absolute;
  display: block;
  top:35px;
  left:60px;
  font-size: 36px;
  color: #c60023;
  text-decoration: none;
  font-weight: bold;
}
.header .search-con {
  padding: 40px 0 30px 250px;
}
.header .search-con .search-input {
  width: 550px;
  height: 40px;
  line-height: 40px;
  padding:0px 10px;
  outline: none;
  border-radius: 5px;
  border:2px solid #c60023;
}
.header .search-con .search-btn {
  width: 100px;
  height:44px;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
  padding:0px 10px;
  background: #c60023;
  cursor: pointer;
}

/*面包屑导航*/
.crumb {
  height: 50px;
  line-height: 50px;
  background: #eee;
  color: #888;
}
